<div class="tile-wrapper-expanded noselect">
  <div class="tile-image-wrapper-expanded" style="background-color:{{ tile.background }}; color: {{ tile.color }};" ng-click="click()" ng-mouseover="mouseover()" ng-mouseout="mouseout()" ng-mousedown="mousedown()" ng-mouseup="mouseup()">
    <img class="tile-image-loader-expanded" ng-src="{{tile.imageURL}}" image-load="loaded()" ng-if="tile.imageURL" ng-click="click()" ng-mouseover="mouseover()" ng-mouseout="mouseout()" ng-mousedown="mousedown()" ng-mouseup="mouseup()"/>
  </div>
  <div class="tile-text-expanded" ng-if="tile.caption" style="background-color:{{ tile.background }}; color: {{ tile.color }};" ng-click="click()" ng-mouseover="mouseover()" ng-mouseout="mouseout()" ng-mousedown="mousedown()" ng-mouseup="mouseup()">
    {{ tile.caption }} 
  </div>
  <div class="tile-footer-expanded" style="background-color:{{ tile.background }}; color: {{ tile.color }};">
    <span class="tile-footer-stream-link clickable clickable-padded" ng-click="clickStream()">{{ streaminfo.streamName }}</span> -- posted this on {{ tile.created }}
  </div>
  <div class="tile-link-indicator" ng-class="{'hover':linkHover, 'active':linkActive }">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
  <div class="tile-close-expanded clickable" ng-click="clickClose()" ng-show="hoverover" ng-class="{'closehover':!tile.linkURL,'closeactive':((!tile.linkURL) && down)}" ng-mouseover="mouseover()" ng-mouseout="mouseout()" ng-mousedown="mousedown()" ng-mouseup="mouseup()">
    CLICK TO CLOSE <span class="glyphicon glyphicon-remove"></span>
  </div>
</div>
