<div class="navigation-wrapper">
  <div class="navigation-header clickable" ui-sref="home">
    <div class="navigation-center">
      TILES PROTOTYPE
    </div>
  </div>

  <div class="navigation-option clickable" ui-sref="login" ng-if="!user">
    <div class="navigation-center">
      login
    </div>
  </div>
    
  <div class="navigation-option clickable" ui-sref="join" ng-if="!user">
    <div class="navigation-center">
      join
    </div>
  </div>

  <div class="navigation-option clickable" ui-sref="logout" ng-if="user">
    <div class="navigation-center">
      logout
    </div>
  </div>
  
  <div class="navigation-option clickable" ui-sref="join" ng-if="user">
    <div class="navigation-center">
      {{ user.username }}
    </div>
  </div>

  <div class="navigation-option clickable" ui-sref="postNew" ng-if="user">
    <div class="navigation-center">
      NEW TILE
    </div>
  </div>
</div>