<div>
  <tls-stream-slider class="tls-stream-slider noselect" stream="streamRendered" tilesize="tilesize" autoscroll="true" ng-controller="streamController as streamController"/>
</div>
<div>
  <tls-global-navigation class="tls-global-navigation noselect" user="currentUser" ng-keypress="keycode = 'test'" ng-controller="globalNavigationController as globalNavigationController"/>
</div>
<div class="panel-view-wrapper" tls-slidable="{animated: 'left',shown: '0%',hidden: '100%',hideOn: ['home','memberStream','selfStream','']}">
  <div class="panel-view">
    <div ui-view="panel"></div>
  </div>
</div>
<div>
  <tls-notification class="tls-notification noselect" notification="notification"/>
</div>
<div>
  <tls-grid-guides class="tls-grid-guides"/>
</div>
<div class="debug noselect">
    <!-- {{ keycode }} -->
</div>
