.tile-wrapper {
  vertical-align: bottom;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  display: block;
  pointer-events: all;
  cursor: pointer;
  border: 0px solid #ff9900;
}

.tile-text {
  position: absolute;
  display: block;
}

.tile-image-loader {
  display: none;
  position: absolute;
}

tls-tile {
  display: block;
  margin: 0;
  padding: 0;
}
