<div class="tile-wrapper" style="left: {{ tile.pX }}px; top: {{ tile.pY }}px;" ng-class="'w' + tile.pWidth + ' h' + tile.pHeight">
  <div class="tile-indicator"></div>
  <div class="tile-slider" style="background-color:{{ tile.background }}; color: {{ tile.color }};">
    <div class="tile-text">
      {{ tile.caption }} 
    </div>
    <img class="tile-image-loader" ng-src="{{tile.imageURL}}" image-load="loaded()" ng-if="tile.imageURL"/>
  </div>
  <div class="tile-hit-area" ng-mouseover='mouseover()' ng-mouseout='mouseout()' ng-click='click()'></div>
</div>