body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Helvetie Neue, Helvetica, Arial;
  background-color: #000000;
}

.main-view, tls-grid-guides {
  width: 100%;
  height: 100%;
}

tls-grid-guides {
  pointer-events: none;
}