.tls-notification {
  z-index: 1010;
  background-color: none;
  left: 0px;
  top: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
}

.notification-wrapper {
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 88%;  
  background-color: rgba(0, 0, 0, 0.84);
  color: #ffffff;
  display: block;
  line-height: 0px;
  font-size: 36px;
}

.notification-center {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
}